@model ContatoModel
@{
    ViewData["Title"] = "Confirmação apagar o contato";
}

<div class="text-center">
    <br/>
    <h3>Deseja apagar realmente o contato (@Model.Nome)?</h3>
    <br/>
    <a class="btn btn-primary btn-block" role="button" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-primary btn-danger" role="button" asp-route-id="@Model.Id" asp-controller="Contato" asp-action="Apagar">Confirmar exclusão</a>
</div>
